body {
    background-color: #caac6f; 
    color: #1E293B;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ffffff;                
    width: 100%;
    padding: 25px 8%;                         
    box-sizing: border-box;
    border-bottom: 1px solid #E2E8F0;          
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.01); 
    border-radius: 0 0 12px 12px;              
}


.seccion-inicio img {
    
    width: 100%;
    height: auto;
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0 .05); 

}


.lima {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.md{
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}
.cg {
  font-family: "Crafty Girls", cursive;
  font-weight: 400;
  font-style: normal;
}

#formu{
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
}

.mi-header {
    border-radius: 0 0 15px 15px;
    padding: 5px 20px;
}

.logo {
    width: 90px;
    height: auto;
}

.nav-link {
    color: #222 !important;
    font-weight: 600;
    font-size: 14px;
}

.nav-link:hover {
    color: #3154a5 !important;
}

.nav-link.activo {
    color: #3154a5 !important;
}
.named{
    width: 90px;
}


body {
  margin: 0;
  padding: 0;
}


.contenedor-imagen {
  margin-top: 0;
  padding-top: 0;
}


.contenedor-jumbotron {
    display: flex;
    align-items: center;      
    justify-content: space-between;
    gap: 40px;                 
    padding: 50px;            
}


.bloque-texto {
    flex: 1;
}


.bloque-imagen {
    flex: 1;
    display: flex;
    justify-content: center;   
}

.bloque-imagen img {
    max-width: 100%;          
    height: auto;          
    border-radius: 10px;    
}




